<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dongxin.erp.bd.mapper.MaterialTypeMapper">
    <select id="selectMaterialType" resultType="com.dongxin.erp.bd.entity.MaterialType">
        select id
       from tbd_material_type
        where org_id=#{orgId}
    </select>
</mapper>